body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    /* Light background color */
}

header {
    position: relative;
    background-color: rgba(46, 204, 113, 0.8);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
}

header h1 {
    margin: 0;
    font-size: 36px;
    /* Slightly larger font size */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Add a shadow effect to the text */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    /* Make the navigation links bold */
    transition: color 0.3s ease;
    /* Smooth transition for link color */
}

nav ul li a:hover {
    color: #ddd;
    /* Darken the link color on hover */
}

.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.greenhouse-section {
    position: relative;
    padding: 50px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    overflow: hidden;
}

.greenhouse-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 255, 214, 0.5);
    transition: opacity 0.3s ease;
    pointer-events: none;
    /* Ensures the pseudo-element doesn't interfere with hover events */
    z-index: 1;
    /* Ensure the pseudo-element is above the content */
}

.greenhouse-section:hover:before {
    opacity: 0;
}

.greenhouse-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2ecc71;
    text-transform: uppercase;
    /* Green header color */
}

.greenhouse-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #555;
    /* Darker text color */
}

.greenhouse-section {
    padding: 50px 0;
    text-align: center;
    border: 2px solid #2ecc71;
    margin-top: 20px;
    margin-bottom: 20px;

}

.greenhouse-section ul {
    text-align: center;
    /* Center-align the list items */
    margin-bottom: 30px;
    list-style: none;
    /* Remove the bullets */
}

.greenhouse-section ul li {
    margin-bottom: 10px;
    color: #444;
    /* Slightly darker list item color */
}

footer {
    background-color: rgba(46, 204, 113, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow to the footer */
}