/* Move all CSS to a stylesheet */
* {
    /* Remove default browser spacing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/*Navbar start*/
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #66fcf1;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #002fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}

/*Nav top end Nav Bot start*/

.navi {
    width: 100%;
    min-height: 30px;
    background-color: #1f2833;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
}

.navi ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    text-transform: uppercase;
    transition: 0.5s;
}

.navi {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navi ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navi ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navi ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navi ul li:hover:after {
    width: 100%;
}

/*Navbar End*/

.title {
    width: 85%;
    margin: auto;
    min-height: 100px;
    background-color: clear;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #66fcf1;
}

.content {
    width: 85%;
    margin: auto;
    min-height: 700px;
    background-color: #1f2833;
    display: flex;
    /* flex-direction: column;*/
    flex-wrap: wrap;
    align-items: flex-start;
}

.section {
    background-color: pink;
}

.section h3 {
    font-size: 1.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.section2 {
    margin-left: 20px;
    background-color: rgb(187, 39, 64);

}

.section2 ul li {
    list-style: none;
}

.section3 {
    background-color: rgb(68, 38, 43);
}

.section4 {
    background-color: rgb(187, 39, 64);
}

.section5 {
    background-color: rgb(68, 38, 43);
    align-self: end;
    flex: 1;
}

/*
.section {
    width: 30%;
    min-height: 400px;
    background-color: lightgray;
    float: left;
    text-align: center;
    font-size: clamp(5px, 10cqi, 20px);
    margin-right: 20px;
}

.section p {
    margin: 20px;
    text-align: center;
    font-size: clamp(.1rem, 2cqi, 1.5rem);
    text-overflow: ellipsis;
}

.section h3 {
    margin: 20px;
    text-align: center;
    font-size: clamp(.1rem, 2cqi, 1.5rem);
    text-overflow: ellipsis;
}

.section2 {
    width: 75%;
    min-height: 400px;
    background-color: #45A29e;
    text-align: center;
    border: solid black 1px;
}

.section2 h2 {
    margin: 10px;
}

.section2 p {
    margin: 10px;
}

.section2 ul li {
    list-style: none;
    background-color: #1f2833;
}

.section3 {
    width: 50%;
    min-height: 400px;
    background-color: #45A29e;
    text-align: center;
    border: solid black 1px;
}

.section3 h2 {
    margin: 10px;
}

.section3 p {
    margin: 10px;
}
*/

.footer {
    margin-top: 10px;
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    text-align: center;
    line-height: 50px;
}

.wrapper {
    width: 100%;
    height: 209vh;
    background-color: black;
    background-size: cover;
}

/* Adding media queries for page to adapts to tablet and mobile devices */
@media (max-width: 991px) {
    .wrapper {
        width: 60%;
    }
}

@media (max-width:767px) {
    body {
        margin: 40px;
        font-size: 10px;
    }

    .wrapper {
        width: 100%;
    }
}